<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fensterkontakt</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1>Liste aller Fensterkontakte</h1>

  <div id="fensterkontakt-list"></div>

  <script>
    async function loadWindowContacts() {
      try {
        const response = await fetch('/fensterkontakte');
        const fensterkontakt = await response.json();

        let html = '';
        fensterkontakt.forEach((t) => {
          html += `
            <div>
              <strong>Fensterkontakt #${t.deviceid}:</strong>
              <br>DeviceID: ${t.deviceid}, Room: ${t.roomid || '—'}
              <br>
              <button onclick="setClosed('${t.deviceid}')">Schließen</button>
              <button onclick="setOpen('${t.deviceid}')">Öffnen</button>
              <button onclick="getStatus('${t.deviceid}')">Status</button>
              <pre id="status_${t.deviceid}"></pre>
            </div>
            <hr>
          `;
        });
        document.getElementById('fensterkontakt-list').innerHTML = html;
      } catch (err) {
        console.error('Fehler beim Laden der Fensterkontakte', err);
      }
    }

    async function setClosed(deviceId) {
      try {
        const res = await fetch(`/fensterkontakte/${deviceId}/closed`, { method: 'POST' });
        const data = await res.json();
        alert(`Fenster ist geschlossen:\n${JSON.stringify(data)}`);
      } catch (err) {
        alert('Fehler beim Schließen des Fensters');
      }
    }

    async function setOpen(deviceId) {
      try {
        const res = await fetch(`/fensterkontakte/${deviceId}/open`, { method: 'POST' });
        const data = await res.json();
        alert(`Fenster ist geöffnet:\n${JSON.stringify(data)}`);
      } catch (err) {
        alert('Fehler beim Öffnen des Fensters');
      }
    }

    async function getStatus(deviceId) {
      try {
        console.log(deviceId)
        const res = await fetch(`/fensterkontakte/${deviceId}/status`);
        const data = await res.json();
        document.getElementById(`status_${deviceId}`).textContent = JSON.stringify(data, null, 2);
      } catch (err) {
        alert('Fehler beim Abfragen des Status');
      }
    }

    // Beim Laden des Dokuments
    loadWindowContacts();
  </script>
</body>
</html>