<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Device</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

</head>
<body>
    <%- include('partials/header') %>
<section>
    <h2>Neues Ger채t registrieren</h2>
    <form action="/register" method="POST">
        <div>
        <label for="type">Ger채tetyp:</label>
        <select name="type" id="type">
            <option value="fensterkontakt">Fensterkontakt</option>
            <option value="thermostat">Thermostat</option>
        </select>
        </div>
        <div>
            <label for="roomId">Raum:</label>
            <select name="roomId" id="roomId">
                <% rooms.forEach(room => { %>
                    <option value="<%= room.roomid %>"><%= room.roomid %></option>
                <% }) %>
            </select>
        <button type="submit">Registrieren</button>
    </form>
</section>

<section>
    <h2>Neuen Raum hinzuf체gen</h2>
    <form action="/registerRoom" method="POST">
        <div>
            <label for="roomId">Raum:</label>
            <input type="text" name="roomId" id="roomId" placeholder="z.B. Wohnzimmer" />
        </div>
        <button type="submit">hinzuf체gen</button>
    </form>
</section>
</body>
</html>