<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Raum: <%= roomid %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>
  <h1>Raum: <%= roomid %></h1>
  <p>Willkommen im Raum <strong><%= roomid %></strong>!</p>
</body>
</html>
