<header>
    <nav>
      <a href="/">Home</a>| 
      <a href="/wohnzimmer">Wohnzimmer</a>| 
      <a href="/thermostat">Thermostate</a>|
      <a href="/fensterkontakt">Fensterkontakt</a>
    </nav>
  </header>
  