<link rel="stylesheet" href="/header.css" />

<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="#">Räume ▾</a>
        <ul class="dropdown-menu">
          <% rooms.forEach(room => { %>
            <li><a href="/<%= room.roomid %>"><%= room.roomid %></a></li>
          <% }) %>
        </ul>
      </li>
      <li><a href="/thermostat">Thermostate</a></li>
      <li><a href="/fensterkontakt">Fensterkontakt</a></li>
    </ul>
  </nav>
</header>
