<link rel="stylesheet" href="/css/notification.css">
<div id="notification" class="<%= messageType %> <%= message ? '' : 'hidden' %>">
    <%= message %>
</div>
<script src="/js/notification.js"></script>