html {
  height: 100%;
}
body {
    font-family: sans-serif;
    margin: 20px;
    background: linear-gradient(#050e05, #0f380f);
    color: white;
  }
  
  header nav a {
    margin-right: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: White;
  }
  
  table {
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, th, td {
    border: 1px solid #999;
    padding: 6px 10px;
  }
  