html, body {
    height: 100%;
    background: linear-gradient(#050e05, #0f380f);
    color: #0c8a29;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Überschriften */
h2 {
    color: #0c8a29;
    text-shadow: 0 0 5px rgba(12, 138, 41, 0.3);
    margin-bottom: 10px;
}

/* Container für jede Tabelle */
.table-container-room, .table-container-device {
    margin: 20px auto;
    width: 80%;
    background: #111;
    padding: 20px; /* mehr Platz an den Seiten */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(12, 138, 41, 0.3);
    text-align: center;
}
.table-container-device{
    max-height: 37vh;
}

.table-container-room{
    max-height: 30vh;
}

/* Scrollbarer Bereich */
.table-scroll-room, .table-scroll-device {
    overflow-y: auto; /* Scrollen nur vertikal */
    margin: 0 auto;
}
.table-scroll-device{
    max-height: 27vh;
}
.table-scroll-room{
    max-height: 20vh;
}
/* Tabellen */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* gleichmäßige Spaltenbreite */
    margin: 0; /* kein extra Margin */
}

/* Tabellenkopf sticky machen */
thead tr th {
    position: sticky;
    top: 0;           /* damit der Header am oberen Rand klebt */
    background: #0c8a29;
    color: white;
    z-index: 2;       /* über den Body-Zeilen */
}

/* Zellen */
th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
}

/* Icon-Löschbutton */
#löschen {
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    font-size: 20px;
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.3));
}
#löschen:hover {
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    font-size: 20px;
    filter: drop-shadow(0 0 10px rgb(255, 0, 0));
}
/* Alternierende Zeilenfarben */
tbody tr:nth-child(even) {
    background: #181818;
}

/* Hover-Effekt */
tbody tr:hover {
    background: rgba(12, 138, 41, 0.2);
}

/* Scrollbar-Styling für den table-scroll Container */
.table-scroll-device::-webkit-scrollbar, .table-scroll-room::-webkit-scrollbar {
    width: 10px;
}

.table-scroll-device::-webkit-scrollbar-thumb, .table-scroll-room::-webkit-scrollbar-thumb {
    background-color: #0c8a29;
    border-radius: 5px;
}

.table-scroll-device::-webkit-scrollbar-track, .table-scroll-room::-webkit-scrollbar-track {
    background: #222;
}

/* Buttons */
#open, #close {
    background: #0c8a29;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(12, 138, 41, 0.3);
}

#open:hover, #close:hover {
    background: #15a03f;
    box-shadow: 0 0 10px rgba(12, 138, 41, 0.5);
}

/* Responsives Design */
@media (max-width: 768px) {
    .table-container {
        width: 90%;
        padding: 10px;
    }
}
