/* Hintergrund und Grundstil */
html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(#050e05, #0f380f);
  color: white;
}

#devices {
  border-collapse: collapse;
  margin-top: 10px;
}

#devices th, #devices td {
  border: 1px solid #999;
  padding: 6px 10px;
  text-align: center
}

#rooms{
  border-collapse: collapse;
  margin-top: 10px;
}

#rooms th, #rooms td {
  border: 1px solid #999;
  padding: 6px 10px;
  text-align: center
}
#löschen{
  border: none;
  background-color: transparent;
  color: red;
  font-size: 25px;
  cursor: pointer;
}